.author-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.form-container {
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    align-items: center;
}

.form-container label {
    margin-right: 10px;
}

.form-container input {
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
}

.form-container button {
    font-size: 16px;
}

.user-cards-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
}
  